<%- partial('_partial/head') %>

<body>
  <header id="header">
    <section>
      <%- partial('_partial/header') %>
    </section>
  </header>
  <% if (page.current == 1) { %>
    <section id="homepage">
      <% if (theme.showindex) { %>
      <%- partial('_partial/bio', {item: site.pages.first(), index: true}) %>
      <% } %>
    </section>
  <% } %>
  <section id="content" class="inner">
    <div id="main-col" class="alignleft">
      <div id="wrapper"><%- body %></div>
    </div>
    <div id="toolbar">
      <%- partial('_partial/toolbar') %>
    </div>
    <div class="clearfix"></div>
  </section>
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>