<!DOCTYPE html>
<html lang="<%- config.language %>">

    <!-- Head -->
    <%- partial('_partial/head') %>

    <body>

        <!-- Header -->
        <!--<%- partial('_partial/header') %>-->
        <div class="left-side">
            <section class="bio">
                <h1 class="title">Ferugi El Heri</h1>
                <div class="social-icons">
                
                </div>
            </section>
        </div>
        <div class="right-side">
            <main>
                <%- body %>

                <footer class="site-footer">
                    <p>Copyright <%- config.author %> 2016-<%- new Date().getFullYear() %></p>
                </footer>
            </main>
        </div>

        <!-- After footer scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="<%- config.root %>js/site.js"></script>
    </body>

</html>