<!DOCTYPE html>
<% var isIndex = page.path == 'index.html' %>
<html lang="<%- config.language %>">
    <%- partial('_partial/head') %>
    <body>
        <%- partial('_partial/navbar') %>
        <%- partial('_partial/sidebar', {isIndex: isIndex}) %>
        <main  <% if (isIndex) { %>class="index"<% } %>>
            <section id="bio">

            </section>
            <section id="articles">
                <%- body %>
            </section>                
            <footer class="site-footer">
                <p>Copyright <%- config.author %> 2016-<%- new Date().getFullYear() %></p>
            </footer>
        </main>

        <!-- After footer scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="<%- config.root %>js/site.js"></script>
    </body>

</html>