<article>
    <header>
        <% if (index) { %><a href="<%- config.root %><%- item.path %>"><% } %>
        <h1 class="article-title"><%- item.title %></h1>
        <% if (index) { %></a><% } %>

        <div class="artile-sub-header">
            <time>
                <%- item.date.toDate().toDateString() %>
            </time>
        </div>
    </header>
    <div class="entry">
        <% if (index && item.excerpt) { %>
            <%- item.excerpt %>
        <% } else { %>
        <%- item.content %>
        <% } %>
    </div>
    <footer>
        <% if (index && item.excerpt) { %>
            <a href="<%- config.root %><%- item.path %>">Read more</a>
        <% } %>
    </footer>
</article>