<% if (index) { %>
    <article class="index">
<% } else { %>
    <article>
<% } %>
    <div class="icon">
        <a href="<%- config.root %><%- item.path %>">
            <% if (item.icon) { %>
                <img src="<%- item.icon %>">
            <% } else { %>
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <% } %>
        </a>
    </div>
    <header>
        <time>
                <%- item.date.toDate().toDateString() %>
        </time>
        <% if (index) { %><a href="<%- config.root %><%- item.path %>"><% } %>
        <h1 class="article-title"><%- item.title %></h1>
        <% if (index) { %></a><% } %>

        <div class="artile-sub-header">
            
        </div>
    </header>
    <div class="entry">
        <% if (index && item.excerpt) { %>
            <%- item.excerpt %>
        <% } else { %>
        <%- item.content %>
        <% } %>
    </div>
    <footer>
        <% if (index && item.excerpt) { %>
            <a class="button" href="<%- config.root %><%- item.path %>">Read more <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        <% } %>
    </footer>
</article>
<% if (!index) { %>
    <section id="comments">
        <%- partial('_partial/comments', {fbcommentlink: item.fbcommentlink }) %>
    </section>
<% } %>